.collection_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 18px;
  flex-wrap: wrap;
}

.collection_wrapper .collection_card_wrapper {
  position: relative;
  width: 240px;
  margin-top: 8px;
  cursor: pointer;
}

.collection_wrapper .collection_card_wrapper .collection_img {
  width: 280px;
}

.collection_wrapper .collection_card_wrapper .text_wrap {
  position: absolute;
  top: 300px;
  width: 280px;
}

.collection_wrapper .collection_card_wrapper .collection_img_text {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.collection_wrapper .collection_card_wrapper .collection_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 18px 12px 30px;
  width: 280px;
  height: 44px;
  background: #1D1D1B;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.collection_wrapper .collection_card_wrapper .collection_btn:hover {
  background: #fff;
  color: #000;
}
