header {
  height: 153px;
  width: auto;
  left: -683px;
  top: -77px;
  background: #fff;
}

header a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  color: grey;
}

header .HeaderUp nav {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-bottom: 1px solid #F8F8F8;
}

header .HeaderUp nav ul {
  display: flex;
  padding: 0;
}

header .HeaderUp nav ul li {
  list-style-type: none;
  margin: 20px 15px 0px 15px;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #393939;
}

header .HeaderUp nav ul li p {
  display: inline;
  color: #393939;
}

header .HeaderDown {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

header .HeaderDown .logo {
  height: 70px;
  width: 162px;
  left: 0px;
  top: 9px;
  border-radius: 0px;
}

header .HeaderDown form {
  height: 100%;
  margin-top: 1.5%;
}

header .HeaderDown form .Search {
  height: 44px;
  width: 502px;
  border-radius: 0px;
  border: 1px solid #E0E0E0;
  border-right: none;
  background: #F8F8F8;
  padding-left: 15px;
}

header .HeaderDown form .header_search_btn {
  height: 44px;
  width: 44px;
  border: 1px solid #e0e0e0;
  background: #f8f8f8;
  border-left: none;
  margin-bottom: 20px;
}

header .HeaderDown form .header_search_btn img {
  width: 20px;
}

header .HeaderDown .liked {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header .HeaderDown .liked p {
  margin-bottom: 2px;
  margin-left: 10px;
  align-content: center;
}

header .HeaderDown .liked img {
  width: 20px;
  height: 20px;
}

header .HeaderDown .basket {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

header .HeaderDown .basket p {
  margin-bottom: 2px;
  align-content: center;
  margin-left: 10px;
}

header .HeaderDown .basket img {
  width: 20px;
  height: 20px;
}
