h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 44px;
}

.novelties_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
}

.novelties_wrapper_more {
  display: block;
  margin: 0 auto;
  align-items: center;
  border: none;
  color: white;
  width: 107px;
  height: 32px;
  background: #1D1D1B;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 16px;
  letter-spacing: 0em;
}
